.grid-articles-publicity {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 4em;
}
.grid-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.card-title-found {
  color: #fd841f;
  font-size: 2em;
  letter-spacing: 1px;
}
.category-title {
  color: #fd841f;
  background-color: #0d4c92;
  font-family: "Anton";
}
.card-title {
  height: auto;
  overflow: hidden;
  font-family: "anton";
}
.btn-color {
  background-color: #1986a0;
  font-family: "Anton";
  letter-spacing: 1px;
  border: 0;
  color: black;
}
.btn-color:hover {
  background-color: #0d4c92;
}

.btn-like {
  background: transparent;
  border: 0;
}
.btn-like:hover {
  background-color: white;
}
.btn-like:active {
  color: white;
  background-color: white;
}
.btn-like:disabled {
  color: transparent;
  background-color: #fff;
}

.card-container {
  transition: all 400ms ease;
  box-shadow: 0px, 1px, 10px, rgba(0, 0, 0, 0.2);
}

.card-container:hover {
  box-shadow: 20px, 20px, 20px, rgba(0, 0, 0, 0.4);
  transform: translateY(-5%);
}

.btn-reed {
  background: #1986a0;
  color: rgb(73, 71, 71);
  padding: 5px 5px;
  display: inline-block;
  border-radius: 4px;
  font-size: 15px;
  font-family: "Anton";
  text-decoration: none;
}
.btn-reed:hover {
  color: #0e185f;
  background-color: #fd841f;
}
