.grid-articles-publicity {
  display: grid;
  grid-template-columns: 5fr 1fr;

  gap: 2em;
}
.grid-articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em;
}
.category-title {
  color: #fd841f;
}
.btn-color {
  background-color: #0d4c92;
}
.btn-color:hover {
  background-color: #0e185f;
}
@media (max-width: 991.98px) {
  .grid-articles-publicity {
    grid-template-columns: 1fr;
  }
  .grid-articles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 767.98px) {
  .grid-articles {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575.98px) {
  .grid-articles {
    grid-template-columns: 1fr;
  }
}
