.grid-articles-publicity {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 4em;
}
.grid-articles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}

.category-title {
  color: #fd841f;
  background-color: #0d4c92;
  font-family: "Anton";
}
.card-title {
  height: 2.6em;
  overflow: hidden;
  font-family: "anton";
}
.btn-color {
  background-color: #1986a0;
  font-family: "Anton";
  letter-spacing: 1px;
  border: 0;
  color: black;
}
.btn-color:hover {
  background-color: #0d4c92;
}

.btn-like {
  background: transparent;
  border: 0;
}
.btn-like:hover {
  background-color: white;
}
.btn-like:active {
  color: white;
  background-color: white;
}
.btn-like:disabled {
  color: transparent;
  background-color: #fff;
}
.text-card-container {
  height: 4.8em;
  overflow: hidden;
}

.img-card {
  height: 5em;
  width: 5em;
}
.card-grid {
  min-width: 100%;
  width: 10em;
  transition: all 400ms ease;
  box-shadow: 0px, 1px, 10px, rgba(0, 0, 0, 0.2);
}

.card-grid:hover {
  box-shadow: 20px, 20px, 20px, rgba(0, 0, 0, 0.4);
  transform: translateY(-5%);
}

.btn-categories:hover {
  border: #0e185f solid 1px;
  color: #0e185f;
  background-color: #fff;
}
.btn-categories:active {
  background-color: #fff !important;
  color: #0e185f !important;
}

.btn-reed {
  background: #1986a0;
  color: rgb(73, 71, 71);
  padding: 5px 5px;
  display: inline-block;
  border-radius: 4px;
  font-size: 15px;
  font-family: "Anton";
  text-decoration: none;
}
.btn-reed:hover {
  color: #0e185f;
  background-color: #fd841f;
}
