.title-section {
  font-size: 20px;
  font-weight: 400;
  color: rgb(245, 112, 3);
  background-color: #001253;
  width: auto;
  height: 50px;
  border: 0;
  font-family: "Anton";
}
.detail-author {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin: 20px 0;
}

.detail-author {
  font-size: 20px;
  text-transform: capitalize;
  margin-right: 20px;
  color: rgb(24, 22, 22);
}
.detail-author > img {
  width: 60px;
  height: 60px;
  object-fit: fill;
  border-radius: 50%;
  margin: 0 20px;
}
.linea-style {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #1986a0;
}

.line-style {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400px;
  border: 0;
  border-top: 1px solid #001253;
}
.social-media {
  display: flex;
  margin-bottom: 20px;
}

.red-social {
  margin-right: 20px;
  padding-left: 20px;
}

.btn-detail {
  background-color: #1986a0;
  border: 0;
  color: black;
  border-radius: 4px;
  font-family: "Anton";
  width: 110px;
  padding: 2%;
  /* padding-left: 6%; */

  margin-left: 40px;
}
.btn-detail:hover {
  background-color: #fd841f;
}

.title-crud {
  color: #001253;
  font-family: "Anton";
}

.card-crud {
  background-color: #70a3af;
  border: 0;
}

.title-news {
  font-family: "Anton";
  margin-top: 30px;
  background-color: #fd841f;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.style-crud {
  font-family: "Anton";
  margin-block-start: 20px;
}
/* .detail-author {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin: 20px 0;
}

/* .detail-author > p {
  font-size: 20px;
  text-transform: capitalize;
  margin-right: 5px;
  color: black;
}
.detail-author > img {
  width: 50px;
  height: 50px;
  object-fit: fill;
  border-radius: 50%;
  margin: 0 10px;
} 
.social-media {
  display: flex;
  margin-bottom: 20px;
}

.red-social {
  margin-right: 20px;
  padding-left: 20px;
}

.description-art {
  margin: 40px 0;
} */
