.carrousel-advertisement {
  cursor: pointer;
}

.link-category {
  cursor: pointer;
  border: 0;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  position: relative;
  text-decoration: none;
  list-style: none;
}

.link-category:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #fd841f;
  position: absolute;
  bottom: 8px;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}

.link-category:hover::after {
  width: 100%;
  right: 0;
}
.carousel-advertisement-container {
  position: relative;
  z-index: 0;
}
.carousel-advertisement-scroll-top {
  top: 100px;
}

.categories-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3em;
}
.categories-list-container {
  gap: 3em;
  align-self: center;
  background: linear-gradient(to right, #001253, #1986a0);
  width: 90%;
  justify-self: center;
}
.title-category {
  color: #fd841f;
  font-family: "Anton";
  font-size: 3em;
  letter-spacing: 1px;
  cursor: pointer;
  display: inline-block;
  margin: 2em 0;
  animation: title 3s;
}

.title-category:hover {
  color: #974d10;
}
.slider-container {
  height: 110vh;
  min-height: 400px;
}
.slider-img {
  height: 110vh;
  min-height: 400px;
  object-fit: cover;
}

@keyframes title {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
