.carrousel-advertisement {
  cursor: pointer;
}

.link-category {
  cursor: pointer;
  border: 0;
  text-decoration: none;
  color: #0e185f !important;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  position: relative;
}

.link-category:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #fd841f;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}

.link-category:hover::after {
  width: 100%;
  right: 0;
}
.carousel-advertisement-container {
  position: sticky;
}
.carousel-advertisement {
  top: 100px;
}
