body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (max-width: 729px) {
  main {
    background-position: right;
  }
}

.titulo-contacto {
  text-align: center;
  font-family: "Anton", sans-serif;
  color: white;
}

.body-contacto {
  background-image: url("https://s.france24.com/media/display/6aca8d1a-7783-11ea-9cf2-005056bf87d6/w:1024/p:16x9/WEB%2005ABR%20DEPORTES%20PORTADA%20FOTO.webp");

  background-repeat: no-repeat;
  background-size: cover;
}
.bgcontact {
  background-color: rgba(17, 17, 17, 0.829);
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.contactanos {
  background: rgb(245, 112, 3);

  font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.btn-contact {
  background-color: #1986a0;
  border: 0;
  color: black;
  border-radius: 4px;
  font-family: "Anton";
  padding: 1%;

  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-contact:hover {
  background-color: #fd841f;
}

.color-span {
  background-color: #fd841f;
  border: 0;
  width: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapa {
  width: 100%;
  border-radius: 5px;
}

.text-contact {
  color: rgb(255, 8, 8);
  text-align: start;
  position: relative;
  left: 56px;
  bottom: 15px;
  margin-bottom: 0;
}

.loader {
  background-color: linear-gradient(to right, #001253, #1986a0);
}
