body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (max-width: 729px) {
  main {
    background-position: right;
  }
}

.titulo-contacto {
  text-align: center;
  font-family: "Anton", sans-serif;
  color: white;
  /* margin-bottom: 30%; */
}

.body-contacto {
  background-image: url("https://s.france24.com/media/display/6aca8d1a-7783-11ea-9cf2-005056bf87d6/w:1024/p:16x9/WEB%2005ABR%20DEPORTES%20PORTADA%20FOTO.webp");
  /* background-color: rgba(14, 12, 12, 0.726);  */
  background-repeat: no-repeat;
  background-size: cover;
}
.bgcontact {
  background-color: rgba(17, 17, 17, 0.829);
  display: flex;
  justify-content: center;
  margin-top: 5%;
  /* box-shadow: 4px 4px 4px 4px rgb(12, 73, 32); */
}

.contactanos {
  background: rgb(245, 112, 3);
  /* margin-top: -80px; */
  font-family: Impact, Haettenschweiler, "Arial Narrow", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.btn-contact {
  background-color: #1986a0;
  border: 0;
  color: black;
  border-radius: 4px;
  font-family: "Anton";
  padding: 1%;
  margin-left: 50px;
  margin-right: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-contact:hover {
  background-color: #fd841f;
}

.color-span {
  background-color: #fd841f;
  border: 0;
}
.mapa {
  width: 100%;
  border-radius: 5px;
}

.text-contact {
  color: #fd841f;
}

.loader {
  background-color: linear-gradient(to right, #001253, #1986a0);
}
