footer {
  background-color: rgba(17, 17, 17, 0.829);
  display: flex;
  justify-content: center;
}

.background-footer {
  background: linear-gradient(to right, #001253, #1986a0);
}
.copyright {
  color: rgb(245, 112, 3);
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  padding: 1.5%;
  width: 100%;
}
.btn-footer {
  border: 5px;
}

.icon-tw:hover {
  transition: 1s;
  color: #1da1f2;
  cursor: pointer;
}

.icon-fb:hover {
  transition: 1s;
  color: #021b4d;
  cursor: pointer;
}
.icon-ig:hover {
  transition: 1s;
  color: #e00547;
  cursor: pointer;
}

.text-footer {
  font-size: 20px;
}
