.grid-header {
  width: 100%;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-futbol-degradado-dinamico_23-2149007789.jpg?w=740&t=st=1670079535~exp=1670080135~hmac=29aad6ce2d65790c878c6cfe6984e932930480b85886b8ea778cdae82aeebf53");
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  opacity: 0.9;
  filter: brightness(80%);
  filter: contrast(1.1);

  min-height: 400px;
}

.img-header {
  width: 7em;
  user-select: none;
  animation-duration: 3s;
  animation-name: slidein;
  position: relative;
}

@keyframes slidein {
  from {
    bottom: 200%;
    /* width: 300%; */
  }

  to {
    bottom: 0%;
    /* width: 100%; */
  }
}

.text-header {
  color: #fff;
  font-family: "Anton";
  letter-spacing: 1px;
  user-select: none;
}
.grid-center-header {
  margin-top: 1em;
  margin-bottom: 2em;
  gap: 1em;
}
.icon-container {
  color: rgb(255, 255, 255);
  gap: 0.5em;
}
.icon-tw:hover {
  transition: 0.3s;
  color: #1da1f2;
  cursor: pointer;
}

.icon-fb:hover {
  transition: 0.3s;
  color: #021b4d;
  cursor: pointer;
}
.icon-ig:hover {
  transition: 0.3s;
  color: #e00547;
  cursor: pointer;
}
