.grid-header {
  width: 100%;
  background-image: url("https://s03.s3c.es/imag/_v0/770x419/e/b/d/futbol-general-dreams.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  opacity: 0.9;
  filter: brightness(80%);
  min-height: 400px;
}

.img-header {
  width: 7em;
  user-select: none;
}

.text-header {
  color: #fff;
  font-family: "Anton";
  letter-spacing: 1px;
  user-select: none;
}
.grid-center-header {
  margin-top: 1em;
  margin-bottom: 2em;
  gap: 1em;
}
.icon-container {
  color: #fff;
  gap: 0.5em;
}
.icon-tw:hover {
  transition: 1s;
  color: #1da1f2;
  cursor: pointer;
}

.icon-fb:hover {
  transition: 1s;
  color: #021b4d;
  cursor: pointer;
}
.icon-ig:hover {
  transition: 1s;
  color: #e00547;
  cursor: pointer;
}
