.card-highlights {
  border-bottom: 4mm ridge #fd841f;
  margin-bottom: 5px;
}
.social-media {
  color: #1986a0;
  justify-content: space-between;
}

.icon-tw:hover {
  transition: 1s;
  color: #1da1f2;
  cursor: pointer;
}

.icon-fb:hover {
  transition: 1s;
  color: #021b4d;
  cursor: pointer;
}
.icon-ig:hover {
  transition: 1s;
  color: #e00547;
  cursor: pointer;
}
.overlayed-background-slider {
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.3;
  pointer-events: none;
}
.overlayed-background-slider-container {
  position: relative;
}

.text-slider-container {
  position: absolute;
  width: 100%;

  left: 0;
  bottom: 2em;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.text-slider {
  font-family: "Anton";
  color: #fdfdfd;
}
.text-slider:hover {
  color: #fdfdfd;
}
.slider-img {
  filter: brightness(1.1);
}
.container-row-highlight {
  padding: 0 7em;
}
.arrow-page {
  color: #1986a0;
  cursor: pointer;
}
.arrow-page-left {
  transform: rotate(180deg);
}
.number-highlight {
  user-select: none;
}
