@media (max-width: 991.98px) {
  .grid-articles-publicity {
    grid-template-columns: 1fr;
  }
  .grid-articles {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
  .categories-container {
    grid-template-columns: 1fr;
  }
  .grid-header {
    grid-template-columns: 1fr 11fr 1fr;
  }
  @keyframes slideinheader {
    from {
      transform: translateX(1000px);
    }

    to {
      transform: translateX(0);
    }
  }
  .img-header {
    animation-duration: 1.5s;
  }
}

@media (max-width: 575.98px) {
  .grid-articles {
    grid-template-columns: 1fr;
  }

  .card-crud-footer {
    padding-bottom: 3em;
  }
}
