@media (max-width: 991.98px) {
  .grid-articles-publicity {
    grid-template-columns: 1fr;
  }
  .grid-articles {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
  .categories-container {
    grid-template-columns: 1fr;
  }
  .grid-header {
    grid-template-columns: 1fr 5fr 1fr;
  }
  @keyframes slidein {
    from {
      left: 200%;
    }

    to {
      left: 0;
    }
  }
}

@media (max-width: 575.98px) {
  .grid-articles {
    grid-template-columns: 1fr;
  }
}
