.bg-nav {
  background: linear-gradient(to right, #001253, #1986a0);
}
.bg-offcanvas-favorite {
  background-color: #1986a0;
}
.bg-offcanvas-favorite-header {
  background-color: #1986a0;
  border-bottom: #001253 solid 5px;
}
.img-favorite-card {
  cursor: pointer;
}
.img-overlayed-favorite {
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-trash {
  background: transparent;
  border-color: red;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-card-favorite {
  color: #ffffffb2;
  font-weight: 600;
}
.btn-trash:hover {
  background: transparent;
  border-color: transparent;
  border-color: rgb(165, 9, 9);
  transform: scale(1.02);
}

.btn-trash:active {
  background-color: rgb(255, 255, 255) !important;
  border-color: transparent;
  border-color: rgb(165, 9, 9) !important;
}
.link-nav {
  text-decoration: none;
  color: white !important;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  position: relative;
}

.link-nav:after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #fd841f;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}

.link-nav:hover::after {
  width: 100%;
  right: 0;
}

.bg-offcanvas {
  background-color: #eaf4f7;
}

.style-favorite {
  font-family: "Anton";
}

.btn-favorite {
  border: 1px solid #000000;
  color: #000000;
  border-radius: 4px;
  font-weight: 600;
  background-color: #1986a0;
}

.btn-favorite:hover {
  background-color: #1986a0;
  border: 1px solid #001253;
  color: #001253;
}

.btn-useradmin {
  background: linear-gradient(to right, #001253, #fd841f);
  border: 0;
}

.btn-useradmin:hover {
  background: linear-gradient(to right, #fd841f, #001253);
  border: 0;
}

.btn-sesion {
  background: linear-gradient(to right, #001253, #1986a0);
  border: 0;
}
