.bg-nav {
  background: linear-gradient(to right, #001253, #1986a0);
}

.link-nav {
  text-decoration: none;
  color: white !important;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  position: relative;
}
