.bg-nav {
  background: linear-gradient(to right, #001253, #1986a0);
}

.link-nav {
  text-decoration: none;
  color: white !important;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  position: relative;
}

.link-nav:after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #fd841f;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}

.link-nav:hover::after {
  width: 100%;
  right: 0;
}

.bg-offcanvas {
  background-color: #eaf4f7;
}

.style-favorite {
  font-family: "Anton";
}

.btn-favorite {
  background-color: #1986a0;
  border: 0;
  color: black;
  border-radius: 4px;
}

.btn-favorite:hover {
  background-color: #fd841f;
}
