.advertising {
  width: 300px;
  height: 300px;
  border: 3px solid black;

  background-image: url("https://www.adlatina.com/uploads/img/gatorade.jpg");
  background-size: 100% 100%;
}
body {
  text-align: center;
  font-family: sans-serif;
}

.modal {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.8);
  z-index: 40;
  top: 0;
  left: 0;
  display: flex;
  z-index: 20;
  animation: modal 3s 2s;
  visibility: hidden;
  opacity: 0;
}

.contenido {
  margin: auto;
  margin-right: 40%;
  z-index: 10;
  width: 40%;
  height: 40%;
  background: white;
  border-radius: 10px;
}

#cerrar {
  display: none;
}

/* #cerrar + label {
  position: absolute;
  color: #fff;
  font-size: 25px;
  z-index: 50;
  background: darkred;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  right: 10px;
  cursor: pointer;

  animation: modal 2s 3s;
  visibility: hidden;
  opacity: 0;
}

#cerrar:checked + label,
#cerrar:checked ~ .modal {
  display: none;
} */

@keyframes modal {
  100% {
    visibility: visible;
    opacity: 1;
  }
}
