.color-table {
  background: linear-gradient(to right, #646464, #5eceeb);
}
.edit-label {
  font-family: "Anton";
  justify-content: center;
}
.btn-icon {
  color: #fd841f;
  cursor: pointer;
}

.btn-icon:hover {
  color: #0e185f;
}
.title-table {
  font-family: "anton";
  color: white;
}
.table-responsive {
  overflow-x: auto;
  width: 90vw;
}
.admin-table {
  width: 1000px;
  margin: auto;
}
